.table-container {
  padding: 2rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

.form-label {
  font-size: 20px;
  font-weight: 500;
  color: #2d6ecf;
}

@media (max-width: 767px) {
  .form-label {
    font-size: 13px;
  }

  input[type="text"],
  input[type="email"],
  input[type="button"] {
    font-size: 13px;
  }
}
