.table-container {
  padding: 2rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

.form-label {
  font-size: 20px;
  font-weight: 500;
  color: #2d6ecf;
}
.page-header{
  color: #2d6ecf;
}

.data-field {
  font-size: 18px;
  color: rgb(112, 112, 112);
}

@media (max-width: 767px) {
  .form-label,
  .data-field {
    font-size: 13px;
  }

  .page-header {
    font-size: 23px;
  }

  .view-package-btn {
    font-size: 13px;
  }

  input[type="text"],
  input[type="email"],
  input[type="button"] {
    font-size: 13px;
  }
}
