.package-card {
  width: 100%;
}

.card-container {
  width: 25rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.card-text {
  overflow: hidden;
  height: 6rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 12rem;
}

.view-icon {
  color: #ffffff;
  border-radius: 50%;
  background-color: #2d6ecf;
}

.view-icon:hover {
  color: #ffffff;
  background-color: #003e9b;
  cursor: pointer;
}
