@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --sidebar-width: 280px;
  --primary-color: #2d6ecf;
  --primary-darken: #2360bd;
}
*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding does not affect overall width */
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-color: #f8f9fa;
  overflow-x: hidden; /* Prevents horizontal scroll */
}
.custom-h1 {
  font-size: calc(2rem + 1vw); /* Base font size - adjust as needed */
  font-weight: 700;
}
.custom-h2 {
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 400; /* Base font size - adjust as needed */
}
.custom-h3 {
  font-size: calc(1.25rem + 0.3vw); /* Base font size - adjust as needed */
  font-weight: 300;
}


/*#region Sidebar */
#sidebar {
  background-color: var(--primary-color);
  color: white;
  width: var(--sidebar-width);
  transition: transform 0.3s;
  z-index: 1030;
  height: 100vh; /* Full height */
  position: fixed;
  box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.2);
}

.sidebar-items {
  margin-top: 150px;
  gap: 6px;
}

.sidebar-items a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.sidebar-items i {
  margin-right: 6px;
}

.sidebar-items li {
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.3s;
}

.sidebar-items li:hover {
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(240, 240, 240, 0.2);
  cursor: pointer;
  font-weight: 400;
}

.sidebar-logo {
  max-width: 210px;
  margin-top: 40px;
}

.bottom-sidebar {
  position: fixed;
  bottom: 0;
  width: var(--sidebar-width);
  padding: 30px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.bottom-sidebar .email {
  font-size: 13px;
  font-weight: 200;
}
/*#endregion sidebar*/

/*#region Navigation bar */
.navbar {
  width: calc(100% - var(--sidebar-width));
  position: fixed;
  top: 0;
  border-bottom: solid 1px rgb(192, 192, 192);
  background-color: white;
  z-index: 1031;
}

.navbar-icons a {
  color: var(--primary-color);
}

.navbar-icons {
  gap: 15px;
}
/*#endregion Navigation bar */

/*#region Traveler Cart Sidebar */
.traveler-cart {
  position: fixed;
  top: 57px;
  right: -320px; /* Hide the sidebar initially */
  width: 320px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
  z-index: 1000;
}

.traveler-cart.active {
  right: 0; /* Show the sidebar when active */
}

.traveler-cart-logo {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.traveler-cart-items-container {
  border-radius: 20px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 70px;
  padding-bottom: 80px;
}

/* custom traveler cart scrollbar */
.traveler-cart-items-container::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

.traveler-cart-items-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* The track of the scrollbar */
}

.traveler-cart-items-container::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* The scroll handle */
  border-radius: 5px;
}

.traveler-cart-items-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* The scroll handle on hover */
}

.traveler-cart-item {
  font-family: Arial, sans-serif;
  max-width: 340px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.traveler-cart-item-header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.traveler-cart-item-header h6 {
  font-size: 13px;
  font-weight: 600;
}

.traveler-cart-item-header small {
  font-size: 13px;
}

.traveler-cart-item-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.hotel-name {
  flex-grow: 1;
}

.traveler-cart-item-body {
  padding: 15px;
  background-color: #ffffff;
  font-size: 13px;
}

.delete-cart-item-btn i {
  cursor: pointer;
}

.traveler-cart-item-body-details i {
  color: var(--primary-color);
}

.traveler-cart-item-body p {
  margin-bottom: 0;
}

.traveler-cart-item-body img {
  width: 84px;
  height: 84px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.traveler-cart-item-footer {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-tag {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
}

.details-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
}

.checkout-btn button {
  border: none;
  color: white;
  font-weight: 600;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 320px;
  padding: 20px;
}
/*#endregion Traveler Cart Sidebar  */

/* Main Content */
#content {
  margin-left: var(--sidebar-width);
  flex-grow: 1;
  padding-top: 56px;
}
/*#region gallery slider */
#gallery-image{
  height: 60vh;
  width:100%;
  object-fit:cover;
  object-position:50% 50%;
}
.carousel-indicators li{
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
#control-button-circle{
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 220px;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M16 0 L0 8 L16 16 Z' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E") !important;
  width: 20px; 
  height: 50px;
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M0 0 L16 8 L0 16 Z' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E")!important;
  width: 20px; 
  height: 50px; 
}
/*#endregion gallery slider end*/
/*#region calendar */
.calendar {
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.calendar .header .btns {
  display: flex;
  gap: 10px;
}
.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar .header .btns .btn:hover {
  background-color: var(--primary-darken);
  transform: scale(1.05);
}
.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
}
.days .day:not(.next):not(.prev):hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
  cursor: pointer;
}
.days .day.today {
  color: #fff;
  background-color: var(--primary-color);
}
.days .day.unavailable-days {
  color: #fff;
  background-color: rgb(145, 50, 50);
}
.days .day.next, 
.days .day.prev {
  color: #ccc;
}
/*#endregion calendar end*/
/*#region itinerary */
#itinerary-container{
 gap: 150px;
}
#itinerary-container-left{
  margin-top: 5vh;
  margin-left:5vh;
}
#itinerary-container-right{
  margin-top: 5vh;
}
#itinerary-package-container{
  width: 80%;
  max-width: 80%;
  margin-left: 0vh;
}
#package-info{
  width: 80%;
  max-width: 80%;
  margin-left: 25px;
}
.dotted-itinerary-div{
  border-left: 3px dotted black;
  margin-left: 14px;
}
/*#endregion itinerary end */
/* package text review */
#package-review-container{
   margin-top: 5vh;
   margin-left:2vh;
}
#review-text-area{
  font-size: 4vh;
}
/* package text review end*/ 
/*#region package info section */
.package-info-travelpartner{
  width: 625px;
  height: 112px;
  border-radius: 17px;
  background-color: var(--primary-color);
  color: white;
  gap: 25px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.package-info-container{
  margin-left: 0;
}
.travel-partner-circle-logo{
  width: 70px;
  height: 69.38px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  margin-top: 1vh;
  margin-left: 2vh;
}
.travel-partner-name-info{
  margin-top: 2vh;
}
/*#endregion package info section end */
/* package info section */
#package-exclusions-div{
  cursor: default;
  position: relative;
  margin-left:5vh;
  margin-top: 50px;
}
#package-inclusions-div{
  cursor: default;
  margin-left:5vh;
}
#package-inclusions-dropdown:hover .inclusions-content{
  cursor: default;
  display: block;
}
#package-inclusions-dropdown{
  width: 500px;
  max-width: 100%;
  margin-left: 0vh;
  border: 3px solid black;
  border-radius: .25rem;
}
.inclusions-content {
  display: none;
  position: relative;
  margin-top: 20px;
  margin-left: 25px;
}
#package-exclusions-dropdown:hover .exclusions-content{
  cursor: default;
  display: block;
}
#package-exclusions-dropdown{
  width: 500px;
  max-width: 100%;
  margin-left: 0vh;
  border: 3px solid black;
  border-radius: .25rem;
}
.exclusions-content {
  display: none;
  position: relative;
  margin-top: 20px;
  margin-left: 25px;
}
#package-tour-options-div{
  position: relative;
  margin-left:5vh;
}
#tour-options-button{
  width: 500px;
  text-align: left;
  border-radius: 5px;
}
#tour-options-dropdown{
  width: 80%;
  margin-left: 0vh;
  display: none;
}
#package-hotel-options-div{
  position: relative;
  margin-left:3vh;
}
#hotel-options-button{
  width: 510px;
  text-align: left;
  border-radius: 5px;
  margin-left: .5vh;
}
#hotel-options-dropdown{
  width: 80%;
  margin-left: 1vh;
  display: none;
}
.drop-arrow-down {
  border: solid black;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  height: 30px;
  width: 30px;
}
/* package info section end */

/* Media queries */
@media (min-width: 769px) {
  /* Navbar content */
  .navbar-toggler {
    display: none;
  }

  .navbar-brand {
    margin-left: auto;
  }
  #gallery-slider{
    width:100%;
  }
}

@media (max-width: 768px) {
  /* Traveller cart content */
  .traveler-cart {
    top: 73px;
  }

  /* Navbar content */
  .navbar-toggler {
    display: block; /* Show burger menu */
  }

  .navbar {
    width: 100%;
    margin-left: 0;
  }

  /* Sidebar content */
  .sidebar-items {
    margin-top: 80px;
    gap: 10px;
  }

  #sidebar {
    margin-top: 73px;
    transform: translateX(-100%); /* Hide sidebar */
    height: 100%;
  }

  .bottom-sidebar {
    bottom: 73px;
  }

  #sidebar.active {
    transform: translateX(0); /* Show sidebar */
  }

  #content {
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
  }
  #gallery-image{
    height: 300px;
  }
  .custom-h1 {
    font-size: calc(1rem + 3vw); /* Base font size - adjust as needed */
  }
  .custom-h2 {
    font-size: calc(1.3rem + 0.5vw); /* Decrease font size for smaller screens */
  }
  .custom-h3 {
    font-size: calc(0.95rem + 0.3vw); /* Further decrease font size for mobile devices */
  }
  #control-button-circle{
    height: 40px; 
    width: 40px; 
  }
  .travel-partner-circle-logo{
    width: calc(10vw + 10px); 
    height: calc(10vw + 10px);
  }
  .package-info-travelpartner{
    width: 90%; 
    margin: 20px auto;
    border-radius: 10px; 
    margin-left: 0;
  }
  #control-button-circle{
    margin-top: 120px;
  }

}

