@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --sidebar-width: 280px;
  --primary-color: #2d6ecf;
  --primary-darken: #2360bd;
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

/* Sidebar */
#sidebar {
  background-color: var(--primary-color);
  color: white;
  width: var(--sidebar-width);
  transition: transform 0.3s;
  z-index: 1030;
  height: 100vh; /* Full height */
  position: fixed;
  box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.2);
}

.sidebar-items {
  margin-top: 150px;
  gap: 6px;
}

.sidebar-items a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.sidebar-items i {
  margin-right: 6px;
}

.sidebar-items li {
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.3s;
}

.sidebar-items li:hover {
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(240, 240, 240, 0.2);
  cursor: pointer;
  font-weight: 400;
}

.sidebar-logo {
  max-width: 210px;
  margin-top: 40px;
}

.bottom-sidebar {
  position: fixed;
  bottom: 0;
  width: var(--sidebar-width);
  padding: 30px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.bottom-sidebar .email {
  font-size: 13px;
  font-weight: 200;
}

/* Navigation bar */
.navbar {
  width: calc(100% - var(--sidebar-width));
  position: fixed;
  top: 0;
  border-bottom: solid 1px rgb(192, 192, 192);
  background-color: white;
  z-index: 1031;
}

.navbar-icons a {
  color: var(--primary-color);
}

.navbar-icons {
  gap: 15px;
}

/* Traveler Cart Sidebar */
.traveler-cart {
  position: fixed;
  top: 57px;
  right: -320px; /* Hide the sidebar initially */
  width: 320px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
  z-index: 1000;
}

.traveler-cart.active {
  right: 0; /* Show the sidebar when active */
}

.traveler-cart-logo {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.traveler-cart-items-container {
  border-radius: 20px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 70px;
  padding-bottom: 80px;
}

/* custom traveler cart scrollbar */
.traveler-cart-items-container::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

.traveler-cart-items-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* The track of the scrollbar */
}

.traveler-cart-items-container::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* The scroll handle */
  border-radius: 5px;
}

.traveler-cart-items-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* The scroll handle on hover */
}

.traveler-cart-item {
  font-family: Arial, sans-serif;
  max-width: 340px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.traveler-cart-item-header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.traveler-cart-item-header h6 {
  font-size: 13px;
  font-weight: 600;
}

.traveler-cart-item-header small {
  font-size: 13px;
}

.traveler-cart-item-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.hotel-name {
  flex-grow: 1;
}

.traveler-cart-item-body {
  padding: 15px;
  background-color: #ffffff;
  font-size: 13px;
}

.delete-cart-item-btn i {
  cursor: pointer;
}

.traveler-cart-item-body-details i {
  color: var(--primary-color);
}

.traveler-cart-item-body p {
  margin-bottom: 0;
}

.traveler-cart-item-body img {
  width: 84px;
  height: 84px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.traveler-cart-item-footer {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-tag {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
}

.details-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
}

.checkout-btn button {
  border: none;
  color: white;
  font-weight: 600;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 320px;
  padding: 20px;
}

/* Main Content */
#content {
  margin-left: var(--sidebar-width);
  flex-grow: 1;
  padding-top: 56px;
}

/* Media queries */
@media (min-width: 769px) {
  /* Navbar content */
  .navbar-toggler {
    display: none;
  }

  .navbar-brand {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  /* Traveller cart content */
  .traveler-cart {
    top: 73px;
  }

  /* Navbar content */
  .navbar-toggler {
    display: block; /* Show burger menu */
  }

  .navbar {
    width: 100%;
    margin-left: 0;
  }

  /* Sidebar content */
  .sidebar-items {
    margin-top: 80px;
    gap: 10px;
  }

  #sidebar {
    margin-top: 73px;
    transform: translateX(-100%); /* Hide sidebar */
  }

  .bottom-sidebar {
    bottom: 73px;
  }

  #sidebar.active {
    transform: translateX(0); /* Show sidebar */
  }

  #content {
    margin-left: 0;
    width: 100%;
  }
}
