@import "style.css";

/* Checkout container */

.booking-summary-section {
  background-color: var(--primary-color);
  height: 100%;
}

.booking-summary-section h3 {
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.booking-header-container img {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.booking-body-container p {
  font-size: 15px;
  margin-bottom: 0;
}

.pricing-breakdown-container p {
  margin-bottom: 5px;
}

.total-container {
  padding-top: 5px;
  border-top: 1px solid black;
}

.go-back-btn {
  border: none;
  color: #555;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.go-back-btn:hover {
  color: rgb(73, 73, 73);
  background-color: #e4e4e4;
}

.confirm-details-btn {
  border: none;
  color: white;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.confirm-details-btn:hover {
  background-color: var(--primary-darken);
}

.booking-summary-information {
  background-color: white;
  width: 100%;
  height: 300px;
}

.pricing-breakdown-container {
  background-color: white;
  width: 100%;
  height: 200px;
}

.buttons-section {
  height: 250px;
}

.booking-information-container {
  height: 820px;
  overflow-y: auto;
}

.main-traveler-info-container,
.guest-traveler-info-container {
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.guest-information-container label,
.main-traveler-info-container label {
  margin-bottom: 5px;
}
/* booking info cart scrollbar */
.booking-information-container::-webkit-scrollbar {
  width: 10px;
}

.booking-information-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.booking-information-container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.booking-information-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Progress bar */
.progress-container {
  width: 100%;
  background-color: #eee;
}

.progress-bar {
  width: 0%;
  height: 4px;
  background: #0003cf;
  position: relative;
}

.progress-bar::before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #0003cf;
  border-radius: 50%;
  position: absolute;
  top: -4px; /* Half of the height to make it center vertically */
  left: 0;
}

.step {
  width: 33.3333%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: grey;
  top: 11px;
}

.step::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
}

.step.active::before {
  background-color: #0003cf;
}

.step:first-child.active::before {
  background-color: #0003cf;
}

.step:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #0003cf;
  top: 2px; /* Half of the height to make it align with the progress bar */
  right: -100%;
}

.clear {
  clear: both;
}

/* Media queries */

@media (max-width: 1024px) {
  .booking-summary-section h3 {
    font-size: 20px;
  }

  .booking-summary-section {
    padding: 40px !important;
  }
}

@media (max-width: 768px) {
  .main-traveler-info-container,
  .guest-traveler-info-container {
    padding: 30px !important;
  }

  .booking-summary-section {
    padding: 40px !important;
  }
}

@media (max-width: 425px) {
  .checkout-container {
    padding: 15px !important;
  }
  .booking-summary-section {
    width: 100%;
    padding: 20px !important;
  }

  .guest-information-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .booking-summary-container {
    width: 100%;
  }

  .booking-information-container::-webkit-scrollbar {
    width: 5px;
  }
}
